.cart {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card__buttons_holder {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.button {
      max-width: 120px;
      background-color: var(--color-charlotte);
      border-radius: 10px;
      transition: background-color var(--transition);

      &.amount {
        display: flex;

        .minus {
          display: inline-block;
          height: 36px;
          font-size: 36px;
          color: var(--font-color-primary);
          flex-grow: 1;
          text-align: center;
          line-height: 36px;
          transition: background-color var(--transition);
          user-select: none;

          &:hover {
            cursor: pointer;
            background-color: var(--color-java);
            border-radius: 10px 0px 0px 10px;
          }
        }

        .added_number {
          display: inline-block;
          height: 36px;
          font-size: 28px;
          color: var(--font-color-primary);
          flex-grow: 1;
          text-align: center;
          line-height: 36px;
          transition: background-color var(--transition);
          user-select: none;
        }

        .plus {
          display: inline-block;
          height: 36px;
          font-size: 28px;
          color: var(--font-color-primary);
          flex-grow: 1;
          text-align: center;
          line-height: 36px;
          transition: background-color var(--transition);
          border-radius: 0px 10px 10px 0px;
          user-select: none;

          &:hover {
            cursor: pointer;
            background-color: var(--color-java);
          }
        }
      }
    }
  }

  .final_sum {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    color: var(--font-color-primary);
    margin-bottom: 50px;
    margin-top: 30px;

    &__all_products {
      margin-left: 60px;
    }

    .remove_item {
      margin-left: 60px;
    }
  }

  .promo_holder {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 80px;
    font-size: 20px;

    &:hover {
      cursor: pointer;
    }

    &__one,
    &__two,
    &__three,
    &__four {
      margin-left: 30px;
      transition: color var(--transition);

      &:hover {
        color: var(--color-wild-watermelon);
      }
    }
  }

  .added_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: var(--font-color-primary);
  }

  .product_pic {
    width: 100px;
    height: 100px;
    background-image: url('../../../public/product-images/0001/cerave-hydrating-micellair-water-1.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .remove_item {
    width: 36px;
    height: 36px;
    background-image: url('../../../assets/images/icons/trash.svg');
    background-repeat: no-repeat;
    transition: all var(--transition);

    &:hover {
      cursor: pointer;
      background-image: url('../../../assets/images/icons/trash_hover.svg');
    }

    &:active {
      background-image: url('../../../assets/images/icons/trash_click.svg');
    }
  }

  .buy_button {
    font-size: 40px;
    font-family: var(--font-family-logo);
    padding: 4px 60px;
    background-color: var(--color-charlotte);
    border-radius: 10px;
    transition: all var(--transition);

    &:hover {
      cursor: pointer;
      background-color: var(--color-java);
      color: var(--color-white);
    }
  }
}
