.cart {
  &__container {
    display: flex;
    flex-direction: column;
  }

  .added_item {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: var(--font-color-primary);
  }

  .product_pic {
    width: 100px;
    height: 100px;
    background-image: url('../../../public/product-images/0001/cerave-hydrating-micellair-water-1.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .remove_item {
    width: 36px;
    height: 36px;
    background-image: url('../../../assets/images/icons/trash.svg');
    background-repeat: no-repeat;
    transition: all var(--transition);

    &:hover {
      cursor: pointer;
      background-image: url('../../../assets/images/icons/trash_hover.svg');
    }

    &:active {
      background-image: url('../../../assets/images/icons/trash_click.svg');
    }
  }
}
