.top_menu {
  font-size: 32px;
  line-height: 38px;
  font-family: var(--font-family-main);
  user-select: none;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      transition: color var(--transition);

      &:not(:first-child) {
        margin-left: 57px;
      }

      &:hover {
        cursor: pointer;
        color: var(--color-charlotte);
      }

      .drop_down {
        width: 32px;
        height: 32px;
        display: inline-block;
        background-image: url('../../assets/images/icons/drop_down_black.svg');
        transform: translate(5px, 5px);
        transition: color var(--transition);
        background-size: contain;

        &:hover {
          background-image: url('../../assets/images/icons/drop_down_green.svg');
        }
      }

      .drop_down_menu {

        &.category {
          transform: translate(-88px, 40px);
          padding: 0px 60px 0px 60px;
          list-style: none;
          background-color: rgba(156, 248, 231, 0.9);
          z-index: 500;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 20px;
          border-radius: 10px;
          visibility: hidden;

          &.active {
            visibility: visible;
          }

          .menu_item {
            color: var(--color-black);
            transition: color var(--transition);
            visibility: hidden;
            z-index: 600;

            &:not(:last-child) {
              margin-top: 5px;
            }

            &:last-child {
              margin-bottom: 5px;
            }

            &:hover {
              color: var(--color-white);
            }

            &.active {
              visibility: visible;
            }
          }
        }
      }

      .drop_down_menu {

        &.sort {
          //transform: translate(-88px, 40px);
          padding: 0px 60px 0px 60px;
          list-style: none;
          background-color: rgba(156, 248, 231, 0.9);
          z-index: 500;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 20px;
          border-radius: 10px;
          visibility: hidden;

          &.active {
            visibility: visible;
          }

          .menu_item {
            color: var(--color-black);
            transition: color var(--transition);
            visibility: hidden;
            z-index: 600;

            &:not(:last-child) {
              margin-top: 5px;
            }

            &:last-child {
              margin-bottom: 5px;
            }

            &:hover {
              color: var(--color-white);
            }

            &.active {
              visibility: visible;
            }
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      transition: color 0.14s ease-in-out;

      &:not(:first-child) {
        margin-left: 57px;
      }

      &:hover:nth-child(1),
      &:hover:nth-child(2) {
        cursor: pointer;
      }

      &:hover:nth-child(4),
      &:hover:nth-child(5) {
        cursor: pointer;
        color: var(--color-charlotte);
      }

      &:nth-child(3):hover {
        color: #ff5b8c;
      }

      &:nth-child(3):active {
        color: #ff5b8c;
      }

      .drop_down {
        width: 32px;
        height: 32px;
        display: inline-block;
        background-image: url('../../assets/images/icons/drop_down_black.svg');
        transform: translate(5px, 5px);
        transition: color var(--transition);
        background-size: contain;

        &:hover {
          background-image: url('../../assets/images/icons/drop_down_green.svg');
        }
      }

      .magnifying_glass {
        width: 27px;
        height: 27px;
        display: inline-block;
        background-image: url('../../assets/images/icons/search.svg');
        transform: translate(5px, 2px);
        transition: color var(--transition);
      }

      &.search {
        &:hover > .magnifying_glass:hover {
          background-image: url('../../assets/images/icons/search_hover.svg');
        }
      }

      $from-r: 255;
      $from-g: 188;
      $from-b: 167;
      $to-r: 245;
      $to-g: 183;
      $to-b: 255;
      $from: rgba($from-r, $from-g, $from-b, 1);
      $to: rgba($to-r, $to-g, $to-b, 1);
      $number: 8;

      @function calcGradient($index, $leftSide) {
        $add: $index + 1;
        @if $leftSide == true {
          $add: $index - 1;
        }
        @return rgba(
          $from-r + $add * ($to-r - $from-r) / $number,
          $from-g + $add * ($to-g - $from-g) / $number,
          $from-b + $add * ($to-b - $from-b) / $number,
          1
        );
      }
      @for $i from 1 through $number {
        &.view > .element:nth-child(#{$i}) {
          background: -webkit-linear-gradient(
            to right,
            calcGradient($i, true),
            calcGradient($i, false)
          );
          background: linear-gradient(to right, calcGradient($i, true), calcGradient($i, false));
        }
      }

      &.view {
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-size: cover;

        .element {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          transition: all var(--transition);

          &:not(:first-child) {
            margin-left: 5px;
          }

          &:nth-child(2) {
            height: 15px;
          }

          &:nth-child(3) {
            height: 20px;
          }

          &:nth-child(4) {
            height: 25px;
          }

          &:nth-child(5) {
            height: 30px;
          }

          &:nth-child(6) {
            height: 35px;
          }

          &:nth-child(7) {
            height: 40px;
          }

          &:nth-child(8) {
            height: 45px;
          }

          &:nth-child(8).active {
            height: 10px;
          }

          &:nth-child(7).active {
            height: 15px;
          }

          &:nth-child(6).active {
            height: 20px;
          }

          &:nth-child(5).active {
            height: 25px;
          }

          &:nth-child(4).active {
            height: 30px;
          }

          &:nth-child(3).active {
            height: 35px;
          }

          &:nth-child(2).active {
            height: 40px;
          }

          &:nth-child(1).active {
            height: 45px;
          }
        }
      }

      $from-r: 255;
      $from-g: 188;
      $from-b: 167;
      $to-r: 245;
      $to-g: 183;
      $to-b: 255;
      $from: rgba($from-r, $from-g, $from-b, 1);
      $to: rgba($to-r, $to-g, $to-b, 1);
      $number: 12;

      @function calcGradient($index, $leftSide) {
        $add: $index + 1;
        @if $leftSide == true {
          $add: $index - 1;
        }
        @return rgba(
          $from-r + $add * ($to-r - $from-r) / $number,
          $from-g + $add * ($to-g - $from-g) / $number,
          $from-b + $add * ($to-b - $from-b) / $number,
          1
        );
      }
      @for $i from 1 through $number {
        &.columns_view > .element:nth-child(#{$i}) {
          background: -webkit-linear-gradient(
            to right,
            calcGradient($i, true),
            calcGradient($i, false)
          );
          background: linear-gradient(to right, calcGradient($i, true), calcGradient($i, false));
        }
      }

      &.columns_view {
        width: 60px;
        height: 45px;
        display: grid;
        grid-template-columns: repeat(var(--product-column), 1fr);
        align-content: space-between;
        background-size: cover;

        // &.active {
        //   width: 60px;
        //   grid-template-columns: 1fr 1fr 1fr;
        // }

        .element {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          transition: all var(--transition);
          margin-left: 5px;

          &:nth-child(10).active {
            display: none;
          }

          &:nth-child(11).active {
            display: none;
          }

          &:nth-child(12).active {
            display: none;
          }
        }
      }
    }
  }
}
