.wrapper {
  height: 634px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .left_block {
    width: 700px;
    border: solid 2px var(--color-charlotte);
    border-radius: 46px;
    display: grid;
    grid-template-columns: 22% 70% 8%;

    .products_pics {
      display: grid;
      grid-template-rows: 25% 25% 25% 25%;
    }

    .product_image {
      width: 454px;
      height: 454px;
      background-image: url('../../../assets/product-images/0001/cerave-hydrating-micellair-water-1.jpeg');
      background-size: contain;

      &:hover {
        cursor: pointer;
      }

      .popup {
        width: 600px;
        height: 600px;
        background-image: url('../../../assets/product-images/0001/cerave-hydrating-micellair-water-1.jpeg');
        z-index: 10;
      }
    }

    .price_heart {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      .heart {
        width: 36px;
        height: 36px;
        background-image: url('../../../assets/images/icons/heart.svg');
        margin-top: 20px;
        transition: background-image var(--transition);

        &:hover {
          cursor: pointer;
          background-image: url('../../../assets/images/icons/heart_hover.svg');
        }

        &.active {
          background-image: url('../../../assets/images/icons/heart_picked.svg');
        }
      }

      .price {
        font-family: var(--font-family-main);
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
  }

  .right_block {
    width: 700px;
    border: solid 2px var(--color-charlotte);
    border-radius: 46px;
    display: flex;
    flex-direction: column;

    .title {
        height: 40px;
        font-family: var(--font-family-main);
        font-size: 34px;
        line-height: 40px;
    }

    .path {
        height: 29px;
        font-family: var(--font-family-main);
        font-size: 24px;
        line-height: 29px;
    }

    .menu {
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__description {
            font-family: var(--font-family-main);
            font-size: 24px;
            line-height: 29px;
        }

        &__ingredients {
            font-family: var(--font-family-main);
            font-size: 24px;
            line-height: 29px;
        }

        &__quick_buy {
            font-family: var(--font-family-main);
            font-size: 24px;
            line-height: 29px;
        }
    }

    .selected_menu_info {
        height: 336px;
        font-family: var(--font-family-main);
        font-size: 20px;
        line-height: 23px;
    }

    .buttons {
        height: 36px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
  }
}
