.home-page {
  height: 100%;
  background-color: var(--color-charlotte);

  &__container {
    display: grid;
    padding-top: 80px;
    padding-bottom: 15px;
    height: 100%;
    grid-template-columns: 1fr 30%;
    grid-template-areas:
      'content image'
      'advantages advantages';
  }

  &__content {
    grid-area: content;
    padding-top: 30px;
  }

  &__image-wrapper {
    grid-area: image;
  }

  &__advantages {
    grid-area: advantages;
  }

  &__image {
    position: absolute;
    max-width: 100%;
    z-index: 200;
  }

  &__circle {
    position: absolute;
    width: 30%;
    height: 54%;
    background-color: var(--color-white);
    border-radius: 50%;
    filter: blur(80px);
  }

  &__title {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
  }

  &__moto {
    margin-bottom: 36px;
    font-family: 'Rubik Puddles', cursive;
    font-size: 48px;
    line-height: 1.2;
    color: var(--color-niagara);
    transition: font-family var(--transition);

    &:hover {
      cursor: pointer;
      font-family: 'Rubik Gemstones';
    }
  }

  &__description {
    margin-bottom: 50px;
    padding-right: 18%;
    font-size: 36px;
    line-height: 1.2;
  }

  &__button {
    max-width: max-content;
    padding: 15px 28px;
    font-size: 36px;
    color: var(--font-color-secondary);
    border-radius: 10px;
    background-color: var(--color-java);
    transition: var(--transition);

    &:hover {
      color: var(--color-java);
      background-color: var(--color-white);
    }
  }
}

.advantages {
  display: flex;
  justify-content: center;
  align-self: end;
  column-gap: 145px;
  text-align: center;

  &__item {
    width: 180px;

    &.planet:hover {
      cursor: pointer;

      > .icon-wrapper > .icon-echo {
        &.one {
          animation-name: echo_anim;
          animation-duration: 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-play-state: running;
        }
        &.two {
          animation-name: echo_anim;
          animation-duration: 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-play-state: running;
          animation-delay: 0.8s;
        }
        &.three {
          animation-name: echo_anim;
          animation-duration: 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-play-state: running;
          animation-delay: 1.6s;
        }
        &.four {
          animation-name: echo_anim;
          animation-duration: 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-play-state: running;
          animation-delay: 2.4s;
        }
      }

      > .icon-wrapper > .icon-planet {
        display: block;
        fill: var(--color-java);
        transition: fill var(--transition);

        animation-name: planet_anim;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-play-state: running;
      }

      > .icon-wrapper > .icon-sputnik {
        display: block;
        background: var(--gradient-sunrise);
        transition: background-color var(--transition);

        animation-name: sputnik_anim;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-play-state: running;
      }
    }

    &__description {
      font-size: 18px;
      text-align: center;
    }
  }

  .icon {
    display: block;
    fill: var(--color-charlotte);
    transition: fill var(--transition);

    &:hover {
      fill: var(--color-java);
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      height: 180px;
      border: 2px solid var(--color-java);
      border-radius: 50%;
      background: var(--color-white);
    }

    &-flask-science {
      width: 114px;
      height: 114px;
    }

    &-echo {
      position: absolute;
      width: 182px;
      height: 182px;
      border-radius: 50%;
      border: solid 2px var(--color-white);
      opacity: 0;
    }

    @keyframes echo_anim {
      0% {
        width: 180px;
        height: 180px;
        opacity: 0;
      }
      1% {
        width: 180px;
        height: 180px;
        opacity: 1;
      }
      100% {
        width: 360px;
        height: 360px;
        opacity: 0;
      }
    }

    &-planet {
      width: 130px;
      height: 130px;
      transition: all var(--transition);
      position: absolute;
      display: inline-block;
    }

    @keyframes planet_anim {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes sputnik_anim {
      0% {
        transform: rotate(0deg) translate(75px);
      }
      100% {
        transform: rotate(-360deg) translate(75px);
      }
    }

    &-sputnik {
      width: 16px;
      height: 16px;
      display: inline-block;
      position: absolute;
      background: var(--color-charlotte);
      border-radius: 50%;
      transform: translate(75px);
    }

    &-package {
      width: 116px;
      height: 116px;
    }
  }
}
