.logo {

  &__link {
    width: 294px;
    height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    width: 54px;
    height: 93px;
    user-select: none;
    background-image: url('../../assets/images/logo.png');
  }

  &__text {
    font-family: var(--font-family-logo);
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 92px;
    user-select: none;
    color: var(--color-java);
    transition: color var(--transition);

    &:hover {
      color: var(--color-charlotte);
      cursor: pointer;
    }
  }
}
