.navigation {
  width: 438px;
  height: 42px;

  &__items {
    display: flex;
    font-size: 36px;
    font-family: var(--font-family-main);
  }

  &__item {
    margin-left: 57px;

    &.cart {
      width: 123px;
      height: 48px;

      &__image {
        width: 27px;
        height: 27px;
      }
    }

    &.sum {
      width: 185px;
      height: 42px;
    }
  }

  &__link {
    transition: var(--transition);

    &.active {
      color: var(--color-java);
    }
  }

  &__link:hover {
    color: var(--color-charlotte);
  }
}
