.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__frame {
    width: 100%;
    border: 2px solid var(--color-charlotte);
    border-radius: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: border var(--transition);

    &:hover {
      border: 2px solid var(--color-java);
    }
  }

  &__product_price_heart {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    width: 100%;
  }

  &__product_price_holder {
    font-size: 24px;
    color: var(--font-color-primary);
    font-family: var(--font-family-main);
    display: inline-block;
    user-select: none;
  }

  &__heart {
    width: 36px;
    height: 36px;
    background-image: url('../../../assets/images/icons/heart.svg');
    transition: background-image var(--transition);

    &:hover {
      cursor: pointer;
      background-image: url('../../../assets/images/icons/heart_hover.svg');
    }

    &.active {
      background-image: url('../../../assets/images/icons/heart_picked.svg');
    }
  }

  &__product_image {
    max-width: 100%;
    width: 285px;
    aspect-ratio: 1/1;
    display: inline-block;
    background-size: contain;
    border-radius: 46px;
    background-repeat: no-repeat;
    background-clip: border-box;
    object-fit: cover;
    transition: transform var(--transition);

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      box-shadow: inset 0 0 50px var(--color-charlotte);
    }
  }

  &__details {
    font-size: 24px;
    transition: color var(--transition);

    &:hover {
      cursor: pointer;
      color: var(--color-charlotte);
    }

    &:active {
      color: var(--color-java);
    }
  }

  &__title {
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &.brand_name {
      padding-right: 10px;
      justify-content: flex-end;
    }

    &.product_name {
      justify-content: flex-start;
    }
  }

  &__buttons_holder {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.button {
      max-width: 120px;
      background-color: var(--color-charlotte);
      border-radius: 10px;
      transition: background-color var(--transition);

      &.amount {
        display: flex;

        .minus {
          display: inline-block;
          height: 36px;
          font-size: 36px;
          color: var(--font-color-primary);
          flex-grow: 1;
          text-align: center;
          line-height: 36px;
          transition: background-color var(--transition);
          user-select: none;

          &:hover {
            cursor: pointer;
            background-color: var(--color-java);
            border-radius: 10px 0px 0px 10px;
          }
        }

        .added_number {
          display: inline-block;
          height: 36px;
          font-size: 28px;
          color: var(--font-color-primary);
          flex-grow: 1;
          text-align: center;
          line-height: 36px;
          transition: background-color var(--transition);
          user-select: none;
        }

        .plus {
          display: inline-block;
          height: 36px;
          font-size: 28px;
          color: var(--font-color-primary);
          flex-grow: 1;
          text-align: center;
          line-height: 36px;
          transition: background-color var(--transition);
          border-radius: 0px 10px 10px 0px;
          user-select: none;

          &:hover {
            cursor: pointer;
            background-color: var(--color-java);
          }
        }
      }

      &.add {
        justify-content: center;
        align-items: center;
        line-height: 36px;
        font-size: 20px;
        user-select: none;

        &:hover {
          cursor: pointer;
          background-color: var(--color-java);
        }
      }
    }

    &.price {
      max-width: 100px;
      font-size: 24px;

      &.sum {
        justify-content: flex-end;
        flex-grow: 3;
      }

      &.currency {
        flex-grow: 1;
        max-width: 20px;
        justify-content: flex-start;
      }
    }
  }
}

.card--active {
  width: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
