.catalog {
  &__container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
    'catalog-header catalog-header'
    'catalog-filter catalog-products';
    gap: 30px 50px;
  }

  &__top_menu {
    grid-area: catalog-header;
  }

  &__filter {
    grid-area: catalog-filter;
  }

  &__products {
    grid-area: catalog-products;
    display: grid;
    grid-template-columns: repeat(var(--product-column), 1fr);
    gap: 30px;
  }

  .bottom_buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .show_less_more {
    padding: 8px 12px 8px 12px;
    background-color: var(--color-charlotte);
    border-radius: 10px;
    transition: all var(--transition);
    font-size: 20px;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: var(--color-java);
      color: var(--color-white);
    }
  }

  .go_to_cart {
    font-family: 'Shadows Into Light';
    font-size: 38px;
    transition: color var(--transition);

    &:hover {
      cursor: pointer;
      color: var(--color-java);
    }
  }

  .to_top_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-charlotte);
    transition: all var(--transition);
    position: fixed;
    bottom: 180px;
    right: 20px;

    &:hover {
      cursor: pointer;
      background-color: var(--color-java);

      > .arrow_up {
        background-image: url('../../../assets/images/icons/arrow_up_hover.svg');
      }
    }
  }

  .arrow_up {
    width: 50px;
    height: 50px;
    background-image: url('../../../assets/images/icons/arrow_up_green.svg');
    display: inline-block;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-top: 3px;
  }
}

.pagination_buttons {
  display: flex;
}

.pagination_circle {
  width: 50px;
  height: 50px;
  background-color: var(--color-charlotte);
  border-radius: 50%;
  margin-left: 30px;
  transition: all var(--transition);

  &:nth-child(1) {
    background-image: url('../../../assets/images/icons/arrow_left_black.svg');
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 8px, 8px;

    &:hover {
      background-image: url('../../../assets/images/icons/arrow-left-white.svg');
    }
  }

  &:nth-child(5) {
    background-image: url('../../../assets/images/icons/arrow_right_black.svg');
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 10px, 8px;

    &:hover {
      background-image: url('../../../assets/images/icons/arrow-right-white.svg');
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-java);
  }
}

.tooltip {
  z-index: 100;
  border-radius: 10px;
  border: dotted;
  border-color: var(--color-charlotte);
}
