@import '../../assets/styles/mixins/breakpoint';

.footer {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:58px;
    padding-bottom: 58px;
    font-size: 32px;

    @include tablet {
      flex-direction: column;
    }
  }

  &__copy {
    display: inline-flex;

    @include tablet {
      margin-bottom: 15px;
    }

    span + span {
      margin-left: 20px;
    }
  }

  &__github {
    transition: color var(--transition);

    &:hover {
      color: var(--color-java);
    }
  }

  &__rs {
    width: 150px;

    &:hover {
      fill: var(--color-java);
    }
  }
}
