.total_sum {
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    &.amount {
        justify-content: center;
        padding-right: 40px;
        padding-left: 40px;
    }
}